In [1]:
import pandas as pd
import numpy as np

In [2]:
# 处理文本
# 文本信息需要哪些？
# title brand category
# 加载mapping 文件
mapping = pd.read_csv("processed_data_all/mapping_items.csv",header=None,names=["new","origin"],sep=",")
mapping.head()

   new      origin
0    1  000100039X
1    2  0001055178
2    3  0001393774
3    4  0001473123
4    5  0001712772

In [3]:
import pandas as pd
import gzip

def parse(path):
  g = gzip.open(path, 'rb')
  for l in g:
    yield eval(l)

def getDF(path):
  i = 0
  df = {}
  for d in parse(path):
    df[i] = d
    i += 1
  return pd.DataFrame.from_dict(df, orient='index')

movie_df = getDF('amazon/meta_Movies_and_TV.json.gz')
cd_df = getDF('amazon/meta_CDs_and_Vinyl.json.gz')
book_df = getDF('amazon/meta_Books.json.gz')

In [4]:
print(book_df[book_df["asin"] == "B00M111QCM"].categories)

2370580    [[Books, Business & Money, Industries & Profes...
Name: categories, dtype: object

In [5]:
metadata = pd.concat([movie_df,cd_df,book_df],axis=0)

In [6]:
metadata

,asin,categories,description,title,price,salesRank,imUrl,related,brand
0,0000143561,"[[Movies & TV, Movies]]","3Pack DVD set - Italian Classics, Parties and ...","Everyday Italian (with Giada de Laurentiis), V...",12.99,{'Movies & TV': 376041},http://g-ecx.images-amazon.com/images/G/01/x-s...,"{'also_viewed': ['B0036FO6SI', 'B000KL8ODE', '...",NaN
1,0000589012,"[[Movies & TV, Movies]]",NaN,Why Don't They Just Quit? DVD Roundtable Discu...,15.95,{'Movies & TV': 1084845},http://ecx.images-amazon.com/images/I/519%2B1k...,"{'also_bought': ['B000Z3N1HQ', '0578045427', '...",NaN
2,0000695009,"[[Movies & TV, Movies]]",NaN,Understanding Seizures and Epilepsy DVD,NaN,{'Movies & TV': 1022732},http://g-ecx.images-amazon.com/images/G/01/x-s...,NaN,NaN
3,000107461X,"[[Movies & TV, Movies]]",NaN,Live in Houston [VHS],NaN,{'Movies & TV': 954116},http://ecx.images-amazon.com/images/I/41WY47gL...,NaN,NaN
4,0000143529,"[[Movies & TV, Movies]]",Disc 1: Flour Power (Scones; Shortcakes; South...,My Fair Pastry (Good Eats Vol. 9),19.99,{'Movies & TV': 463562},http://ecx.images-amazon.com/images/I/51QY79CD...,"{'also_bought': ['B000NR4CRM', 'B0019BK3KQ', '...",NaN
...,...,...,...,...,...,...,...,...,...
2370580,B00M111QCM,"[[Books, Business & Money, Industries & Profes...",NaN,NaN,NaN,NaN,http://ecx.images-amazon.com/images/I/51D8m1ml...,NaN,NaN
2370581,B00M0AEPXG,"[[Books, Politics & Social Sciences, Women's S...",NaN,NaN,NaN,NaN,http://ecx.images-amazon.com/images/I/51hcXTUe...,NaN,NaN
2370582,B00LZFHL7Y,"[[Books, Literature & Fiction, Erotica], [Kind...",NaN,NaN,0.99,NaN,http://ecx.images-amazon.com/images/I/41RDitlH...,"{'also_bought': ['B00LXK4KIO', 'B00LZ19FE0', '...",NaN
2370583,B00LV8M74W,"[[Books, Literature & Fiction, Genre Fiction, ...",NaN,NaN,3.99,NaN,http://ecx.images-amazon.com/images/I/51qUjk4b...,"{'also_bought': ['B00LYOC1R6', 'B00L0WXZIG', '...",NaN
2370584,B00LV8STE4,"[[Books, Arts & Photography, Music, Musical Ge...",NaN,NaN,NaN,NaN,http://ecx.images-amazon.com/images/I/51l7MLl%...,NaN,NaN

In [7]:
metadata.drop_duplicates(subset=["asin"],keep="first",inplace=True)

In [8]:
merge_data = pd.merge(left=mapping,right=metadata,how="left",left_on="origin",right_on="asin")

In [9]:
merge_data.head()

,new,origin,asin,categories,description,title,price,salesRank,imUrl,related,brand
0,1,000100039X,000100039X,[[Books]],"In a distant, timeless place, a mysterious pro...",The Prophet,3.99,{'Books': 587803},http://ecx.images-amazon.com/images/I/81ZKLPiv...,"{'also_bought': ['1851686274', '0785830618', '...",NaN
1,2,0001055178,0001055178,[[Books]],Beryl Bainbridge seems drawn to disaster. Firs...,Master Georgie,16.95,{'Books': 14149327},http://ecx.images-amazon.com/images/I/51ZSC6TK...,"{'also_viewed': ['0349116156', '0307947726', '...",NaN
2,3,0001393774,0001393774,"[[CDs & Vinyl, Christian]]",Audio CD,Songs for the Shepherd,16.64,{'Music': 41017},http://ecx.images-amazon.com/images/I/51MC7A5N...,"{'also_bought': ['B0016CP2GS', 'B0000275QQ', '...",
3,4,0001473123,0001473123,[[Books]],"American Baptist pastor, Bible teacher, and wr...",The Book of Revelation,2.96,{'Books': 1344709},http://ecx.images-amazon.com/images/I/317G8R2T...,"{'also_bought': ['0001472933', '1614271046', '...",NaN
4,5,0001712772,0001712772,[[Books]],Illus. in full color. Beginning readers can le...,I'll Teach My Dog 100 Words (Bright and Early ...,7.69,{'Books': 3404002},http://ecx.images-amazon.com/images/I/51HESAR6...,"{'also_viewed': ['0375800999', '0307975878', '...",NaN

In [10]:
# 选出title brand categories
select_data = merge_data[["new","origin","categories","title","brand"]]
select_data

,new,origin,categories,title,brand
0,1,000100039X,[[Books]],The Prophet,NaN
1,2,0001055178,[[Books]],Master Georgie,NaN
2,3,0001393774,"[[CDs & Vinyl, Christian]]",Songs for the Shepherd,
3,4,0001473123,[[Books]],The Book of Revelation,NaN
4,5,0001712772,[[Books]],I'll Teach My Dog 100 Words (Bright and Early ...,NaN
...,...,...,...,...,...
392550,392551,B00LQE95FU,"[[Books, Literature & Fiction, Short Stories, ...",NaN,NaN
392551,392552,B00LT1JHLW,"[[Movies & TV, TV]]",NaN,NaN
392552,392553,B00LT3SOPU,"[[Books, Arts & Photography, History & Critici...",NaN,NaN
392553,392554,B00LU918A6,"[[Books, Literature & Fiction, Erotica], [Kind...",NaN,NaN
392554,392555,B00LUZ94C4,"[[Books, Cookbooks, Food & Wine, Cooking Educa...",NaN,NaN

In [12]:
# 对以上信息进行清洗，将Nan数据置为空”“
select_data.fillna(" ",inplace=True)
import html
import re

def clean_text(raw_text):
    if isinstance(raw_text, list):
        cleaned_text = ' '.join("%s" % item for item in raw_text)
    elif isinstance(raw_text, dict):
        cleaned_text = str(raw_text)
    else:
        cleaned_text = raw_text
    # 解释 HTML 实体引用
    #作用是：把类似&#39;这样的html实体转换成'，以此类推
    cleaned_text = html.unescape(cleaned_text)
    # 解释：去除一些特殊符号比如\u3000
    cleaned_text = re.sub(r'["\n\r]*', '', cleaned_text)
    index = -1
    # 解释while作用是：去除句子开头的.号
    # 例如：.hello world -> hello world
    while -index < len(cleaned_text) and cleaned_text[index] == '.':
        index -= 1
    index += 1
    # 如果是空字符串，那么就返回空字符串
    if index == 0:
        cleaned_text = cleaned_text + '.'
    else:
        # 如果不是空字符串，那么就去除开头的.号
        cleaned_text = cleaned_text[:index] + '.'
    if len(cleaned_text) >= 2000:
        cleaned_text = ''
    return cleaned_text

# 定义df的apply函数,对categories title brand进行清洗，并将三者拼接起来
def clean_df(df):
    df['categories'] = df['categories'].apply(clean_text)
    df['title'] = df['title'].apply(clean_text)
    df['brand'] = df['brand'].apply(clean_text)
    df['text'] = df['title'] + ' ' + df['brand'] + ' ' + df['categories']
    return df

# 对select_data进行清洗
clean_data = clean_df(select_data)
clean_data.head()

C:\Users\25022\AppData\Local\Temp\ipykernel_15184\778923344.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  select_data.fillna(" ",inplace=True)
C:\Users\25022\AppData\Local\Temp\ipykernel_15184\778923344.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['categories'] = df['categories'].apply(clean_text)
C:\Users\25022\AppData\Local\Temp\ipykernel_15184\778923344.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['title'] = df['title'].apply(clean_text)
C:\Users\25022\AppData\Local\Temp\ipykernel_15184\778923344.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['brand'] = df['brand'].apply(clean_text)
C:\Users\25022\AppData\Local\Temp\ipykernel_15184\778923344.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text'] = df['title'] + ' ' + df['brand'] + ' ' + df['categories']

,new,origin,categories,title,brand,text
0,1,000100039X,['Books'].,The Prophet.,.,The Prophet. . ['Books'].
1,2,0001055178,['Books'].,Master Georgie.,.,Master Georgie. . ['Books'].
2,3,0001393774,"['CDs & Vinyl', 'Christian'].",Songs for the Shepherd.,.,"Songs for the Shepherd. . ['CDs & Vinyl', 'Chr..."
3,4,0001473123,['Books'].,The Book of Revelation.,.,The Book of Revelation. . ['Books'].
4,5,0001712772,['Books'].,I'll Teach My Dog 100 Words (Bright and Early ...,.,I'll Teach My Dog 100 Words (Bright and Early ...

In [21]:
clean_data.loc[300599].text

"The Incredible Hulk - Original Television Premiere. UNI DIST CORP. (MCA). ['Movies & TV', 'TV']."

In [25]:
output_data = clean_data[['new','origin','text']]
# 输出到文件中 映射ID， 原始ID，文本信息
output_data.to_csv("processed_data_all/mapping_items4text.csv",index=False,sep="\t",header=None)

In [27]:
# 测试是否保存正确，能否正常加载数据。
pd.read_csv("processed_data_all/mapping_items4text.csv",header=None,names=["new","origin","text"],sep="\t").__len__

<bound method DataFrame.__len__ of            new      origin                                               text
0            1  000100039X                         The Prophet.  . ['Books'].
1            2  0001055178                      Master Georgie.  . ['Books'].
2            3  0001393774  Songs for the Shepherd. . ['CDs & Vinyl', 'Chr...
3            4  0001473123              The Book of Revelation.  . ['Books'].
4            5  0001712772  I'll Teach My Dog 100 Words (Bright and Early ...
...        ...         ...                                                ...
392550  392551  B00LQE95FU   .  . ['Books', 'Literature & Fiction', 'Short...
392551  392552  B00LT1JHLW                        .  . ['Movies & TV', 'TV'].
392552  392553  B00LT3SOPU   .  . ['Books', 'Arts & Photography', 'History...
392553  392554  B00LU918A6   .  . ['Books', 'Literature & Fiction', 'Eroti...
392554  392555  B00LUZ94C4   .  . ['Books', 'Cookbooks, Food & Wine', 'Coo...

[392555 rows x 3 columns]>

In [ ]:
# 使用bert 对本文信息进行提取， 保存到文件中，使用时只需要去查表？